# IDE files
.idea/
.vscode/

# Python  byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# default results directory
results/

# directory names that can be useful, but we do not want them on git
checkpoints/
configs/
